@import './tokens.css';
@import './tailwind.css';
@import 'tailwindcss';

/* Reset / Normalize */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

[data-sonner-toast] {
  backdrop-filter: blur(12px);
}
