.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--size-32) var(--size-24);
}

@media (max-width: 768px) {
  .main {
    padding: var(--size-24) var(--size-16);
  }
}

