.tag {
  display: inline-block;
  padding: var(--size-4) var(--size-12);
  border-radius: 4px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

.default {
  background-color: var(--color-surface);
  color: var(--color-text);
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-background);
}

